<div class="container">

  <div id="contact">
    <h1>Contact</h1>

    <div class="col-lg-7 mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"
             disabled>
    </div>

    <div class="col-lg-7 mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                disabled>
      </textarea>
    </div>

    <div class="col-lg-7 mb-3">
      <button type="submit" class="btn btn-primary"
              disabled>Submit
      </button>
    </div>


  </div>

</div>

