<div class="container">
  <!-- progress-bar -->
  <div class="container-fluid px-2">
    <h2 class="text-center"> Skills </h2>
    <h3 style="text-align: center">Progress-bar</h3>

    <br>html
    <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>

    <br>css
    <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>

    <br>javaScript
    <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>

    <br>typeScript
    <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>

    <br>Angular
    <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>

    <br>Java
    <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
  </div>

</div>

