<div class="container">
  <!-- progress-bar -->
  <div>
    <h2 style="text-align: center"> Skills </h2>
    <h3 style="text-align: center">Progress-bar</h3>
    html
    <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>

    <br> css
    <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>

    <br>javaScript
    <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>

    <br>typeScript
    <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>

    <br>Angular
    <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>

    <br>Java
    <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
  </div>

</div>

