<!--<div class="container">
  <div class="row border border-2 border-opacity-25 text-center">
    <div class="col-md-4 border">
      <p>about works!</p>
    </div>
    <div class="col-md-4 border">
      <p>about works!</p>
    </div>
    <div class="col-md-4 border">
      <p>about works!</p>
    </div>
  </div>
</div>-->
<!-- https://getbootstrap.com/docs/5.0/layout/breakpoints/
Breakpoint          Class infix   Dimensions
X-Small             None          <576px
Small               sm            ≥576px
Medium              md            ≥768px
Large               lg            ≥992px
Extra large         xl            ≥1200px
Extra extra large   xxl           ≥1400px
-->
<div class="container">
  <div class="row">

    <!-- row one -->
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
      <img id="myPic"
           class="img-fluid"
           src="../../../assets/img/20221216_220237--640x869.png"
           alt="male-technologist">
    </div>

    <!-- row two -->
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
      <p id="nombre" >Martín Bergagno</p>
      <p>Full Stack Developer Jr</p>
    </div>

    <!-- row three -->
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
      <span>
        <h1>Acerca de mí</h1>
        <p>Analista en sistemas de computación, devenido en Administrador de Sistemas,
          y desde el 2021 aprendiendo python+django, testing,
          java+spring+testing, react+testing,
          y ahora angular, java+spring.
        </p>
      </span>
    </div>

  </div>

</div>

