<!-- https://getbootstrap.com/docs/5.0/layout/breakpoints/
Breakpoint          Class infix   Dimensions
X-Small             None          <576px
Small               sm            ≥576px
Medium              md            ≥768px
Large               lg            ≥992px
Extra large         xl            ≥1200px
Extra extra large   xxl           ≥1400px
-->
<div class="container">
  <div class="row">
    <!-- row one -->
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
      <img
        id="myPic"
        class="img-fluid"
        src="../../../assets/img/240x240-male-technologist--ws.png"
        alt="male-technologist"
      />
    </div>

    <!-- row two -->
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
      <p id="fn-ln">{{ person.firstName }} {{ person.lastName }}</p>
      <p>Full Stack Developer Jr</p>
    </div>

    <!-- row three -->
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
      <span>
        <h1>About Me</h1>
        <p>
          Computer Systems Analyst turned Systems Administrator, and since 2021,
          I have been learning Python+Django, testing, Java+Spring+testing,
          React+testing, and now Angular, Java+Spring.
        </p>
        <p>{{ person.email }}</p>
      </span>
    </div>
  </div>
</div>
