/*----------------------------------------------------------------------*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
}

footer a {
  display: flex;
  align-items: center;
}

/*----------------------------------------------------------------------*/
div.fixed {
  position: fixed;
  bottom: 3.3rem;
  right: 0.8rem;
  padding: 0.2rem;
  border: 2px dashed #3F51B5;
  color: #3F51B5;
}

div.fixed2 {
  position: fixed;
  left: 0.8rem;
  bottom: 0.5rem;
  text-align: left;
}

/*----------------------------------------------------------------------*/
svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}
