<div class="container" *ngIf="experience">
  <div class="row">

    <div>
      <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">

        <div class="form-group">
          <label for="name">Experience Name</label>
          <input type="text" class="form-control"
                 id="name" name="name"
                 [(ngModel)]="experience.name" required>
        </div>

        <div class="form-group">
          <label for="description">Experience Description</label>
          <input type="text" class="form-control"
                 id="description" name="description"
                 [(ngModel)]="experience.description" required>
        </div>

        <button class="btn btn-primary">
          Update experience
        </button>

      </form>
    </div>

  </div>
</div>
