<!-- bs Toolbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top my-0 mx-0">
  <div class="container-fluid">

    <!-- Logo + #yoProgramo -->
    <div class="navbar">

      <!-- AP Logo (home)-->
      <!-- collapse with home btn when < 600px
       https://www.w3schools.com/cssref/css3_pr_mediaquery.php
       https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries
      -->
      <a class="navbar-brand"
         routerLink="/" routerLinkActive="active"
      >
        <i class="bi bi-house" style="margin-right: 5px"></i>
        <img
          id="ap-logo"
          class="me-0"
          src="../../../assets/img/AP-216x78.png"
          height="29"
          title="Go to Home Page"
          alt="AP Logo"
        >
      </a>

      <!-- #yoProgramo lnk  -->
      <a class="nav-link"
         href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa"
         rel="noopener" target="_blank" title="yoProgramo"
      ><span>#yoProgramo</span>
      </a>

    </div>

    <!-- toggler FOR SMALL SCREENS -->
    <button type="button"
            class="navbar-toggler"
            data-bs-toggle="collapse"
            data-bs-target="#navbarColor01"
            aria-controls="navbarColor01"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- (educ/projects/about/contact) + (github -- Sign in/up) -->
    <div class="collapse navbar-collapse"
         id="navbarColor01"
         data-bs-toggle="collapse"
         data-bs-target="#navbarColor01"
    >

      <!-- educ/experience/projects/about/contact -->
      <ul class="navbar-nav mb-0">

        <!-- #Education -->
        <li class="nav-item">
          <a class="nav-link" title="Education" routerLink="/education">Education</a>
        </li>
        <!-- #Experience -->
        <li class="nav-item">
          <a class="nav-link" title="Experience" routerLink="/experience">Experience</a>
        </li>
        <!-- #Project -->
        <li class="nav-item">
          <a class="nav-link" title="Projects" routerLink="/project">Projects</a>
        </li>
        <!-- #About -->
        <li class="nav-item">
          <a class="nav-link" title="About" routerLink="/about">About</a>
        </li>
      </ul>

      <!-- spacer -->
      <div class="spacer"></div>

      <!-- Contact -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" title="Contact" routerLink="/contact">Contact</a>
        </li>
      </ul>

      <!-- social (github-twitter-youtube) -->
      <app-social></app-social>


      <!-- sign in--sing up -->
      <app-login></app-login>

    </div>

  </div>
</nav>
