<div class="container">
  <div id="project" class="row">
    <h1 class="text-center">Projects</h1>

    <!-- p1 -->
    <div class="col-sm-12 col-md-12 col-lg-12 parte1">
      <h3>Python Blog</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda beatae consequatur corporis
        dignissimos dolore enim facere facilis iusto necessitatibus nihil nostrum odit perspiciatis, quos sapiente!
        Blanditiis iste quidem vel.</p>
    </div>
    <!-- img -->
    <div class="col-12 col-md-9 col-lg-10 offset-md-1 parte2">
      <img id="parte1"
           class="img-fluid"
           src="../../../assets/img/python-django.png"
           alt="python-django"
      >
    </div>

    <hr>
    <!-- p2 -->
    <div>
      <h3>Python Blog</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda beatae consequatur corporis
        dignissimos dolore enim facere facilis iusto necessitatibus nihil nostrum odit perspiciatis, quos sapiente!
        Blanditiis iste quidem vel.</p>
    </div>

    <hr>
    <!-- p3 -->
    <div>
      <h3>Python Blog</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda beatae consequatur corporis
        dignissimos dolore enim facere facilis iusto necessitatibus nihil nostrum odit perspiciatis, quos sapiente!
        Blanditiis iste quidem vel.</p>
    </div>

    <div class="row border border-5 border-opacity-25 text-center">
      <div class="col border border-danger border-2 border-opacity-25 text-center">
        <!-- btn1 -->
        <div class="border">
          <span>function</span>
          <button type="button"
                  class="btn btn-primary btn-sm my-3 mx-3"
                  (click)="volverHome()"
          >go home1
          </button>
        </div>

        <!-- btn2 -->
        <div class="border">
          <span>button » routerLink</span>
          <button class="btn btn-primary btn-sm my-3 mx-3" type="button"
                  routerLink="/">go to home2
          </button>
        </div>

        <!-- btn3 -->
        <div class="border">
          <span>anchor » routerLink</span>
          <a class="btn btn-danger btn-sm my-3 mx-3"
             routerLink="/">go to home3
          </a>
        </div>
      </div>
    </div>


  </div>
</div>
