<!--<div style="text-align: center; padding-top: 70px">-->
<div class="container mx-5 px-5">

  <span>volver home1 (function)</span>
  <button class="btn btn-primary btn-sm my-3 mx-3" type="button"
          (click)="volverHome()">
    home1
  </button>

  <br>
  <span>volver home2</span>
  <button class="btn btn-primary btn-sm my-3 mx-3" type="button"
          routerLink="/">home2</button>

  <br>
  <span>volver home3</span>
  <a class="btn btn-danger btn-sm my-3 mx-3"
     routerLink="/">home3</a>

</div>
