<!--https://angular.io/guide/inputs-outputs#configuring-the-childs-template
The child's template has two controls.
The first is an HTML <input> with a template reference variable, #newItem,
 where the user types in an item name.
 The value property of the #newItem variable stores what the user types into
  the <input>.
The second element is a <button> with a click event binding.

The (click) event is bound to the addNewItem() method in the child component class.
The addNewItem() method takes as its argument the value of the #newItem.value property.
-->
<label for="item-input">Add a characteristic: </label>
<input #newItem id="item-input" type="text">
<button (click)="addNewItem(newItem.value)"
        class="btn btn-primary"
        type="button">Add to parent's list
</button>
