<!-- social (github-twitter-youtube) -->
<ul class="navbar-nav me-auto mb-2 mb-lg-0">

  <!-- github-twitter-youtube -->
  <li class="nav-item">
    <form class="d-flex">
      <!-- github -->
      <a aria-label="Me on github" href="https://github.com/martin-b-07e5"
         rel="noopener" target="_blank" title="Github"
      >
        <img
          id="github-logo"
          src="../../../assets/img/github-48.png"
          alt="github"
          height="35px"
          style="
                  margin-right: 1em;
                "
        >
      </a>
      <!-- twitter logo -->
      <a aria-label="Angular on twitter" href="https://twitter.com/angular"
         rel="noopener" target="_blank" title="Twitter">
        <img
          id="twitter-logo"
          src="../../../assets/img/twitter-48.png"
          alt="twitter"
          height="35px"
          style="
                  margin-right: 1em;
                "
        >
      </a>
      <!-- YouTube logo -->
      <a aria-label="Angular on YouTube" href="https://youtube.com/angular"
         rel="noopener" target="_blank" title="YouTube">
        <img
          id="youtube-logo"
          src="../../../assets/img/youtube-48.png"
          alt="Youtube"
          height="35px"
          style="
                margin-right: 1em;
               "
        >
      </a>
    </form>
  </li>

  <!-- blank -->
  <li class="nav-item">
    <a class="nav-link">&nbsp;</a>
  </li>

</ul>
