<ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <form class="d-flex">
      <!-- input search -->
      <!--<input class="form-control me-2" type="search" placeholder="Search"
             aria-label="Search"
             style="width:200px"
      >-->

      <!-- sign in -->
      <button class="btn btn-sm btn-outline-success" type="submit"
              style="border-width: 0;margin-right: 0.2em; width: auto;"

      > Sign in
      </button>

      <!-- sign up -->
      <button class="btn btn-sm btn-outline-light" type="submit">Sign up</button>
    </form>
  </li>
</ul>
