<div class="container-fluid bg-primary text-white text-center p-0 mt-3 pb-1 sticky-top1">
  <div class="container ">
    <br>
    <h1 class="display-4 font-italic">Hi!, I'm Martín</h1>
    <p>A full Stack software Developer in the making!</p>
    <p class="lead my-3">I've been studying programing for the last two years,
      even though I made a few curses I consider myself a self taught programer,
      hopefully this website can showcase a litle bit of my skills, Welcome!</p>
    <p class="lead text-start">
      <a class="text-white-50 font-weight-bold"
         routerLink="about">Continue reading...</a>
    </p>
  </div>
</div>

<!--<div class="banner text-white rounded bg-dark p-3 p-md-5 sticky-top">
</div>-->

