.sticky-top1 {
  position: -webkit-sticky;
  position: sticky ;
  top: 5.1em;
  z-index: 1020;
  margin-bottom: 7em;
  /*padding-top: 1.5em;*/
}

.belowCarousel {
  padding-top: 70px;
}
/*@media (max-width: 1200px) {
  * {
    background-color: lightblue;
  }
}*/
