<div class="container">
  <div id="experiencia" class="row">
    <h1>Experiencia laboral</h1>

    <div class="col-lg-2">
      <button type="button" class="btn btn-primary"
              routerLink="/experienceadd"
      >Add Experience1
      </button>
    </div>
    <div class="col-lg-12" style="margin-left: 1rem;">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let Experience of experiences">
          <td>{{Experience.idExperience}}</td>
          <td>{{Experience.name}}</td>
          <td>{{Experience.description}}</td>
          <td>EDITAR</td>
          <td>BORRAR</td>
        </tr>
        </tbody>
      </table>
    </div>


  </div>
</div>
