<div class="container">
  <div id="experiencia" class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-11" style="margin-left: 1rem;">
      <ul>
        <li>
          <h2>Trabajo 1 </h2> - <h3>({{years1}} years)</h3>
        </li>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto culpa deserunt doloremque
          dolorum in ipsam ipsum maiores maxime, molestias nostrum porro quod rerum sit totam, unde ut velit vero!</p>
      </ul>

      <ul>
        <li>
          <h2>Trabajo 2 </h2> - <h3>({{years2}} years)</h3>
        </li>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto culpa deserunt doloremque
          dolorum in ipsam ipsum maiores maxime, molestias nostrum porro quod rerum sit totam, unde ut velit vero!</p>
      </ul>

      <ul>
        <li>
          <h2>Trabajo 3 </h2> - <h3>({{years3}} years)</h3>
        </li>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto culpa deserunt doloremque
          dolorum in ipsam ipsum maiores maxime, molestias nostrum porro quod rerum sit totam, unde ut velit vero!</p>
      </ul>

    </div>
  </div>

</div>
